nodered/button_trigger_example.txt
[{"id":"a12fcdf4.109578","type":"tab","label":"Pompa triggered","disabled":true,"info":""},{"id":"3e76c05b.9c2fd","type":"rpi-gpio in","z":"a12fcdf4.109578","name":"","pin":"12","intype":"up","debounce":"25","read":false,"x":75.57147216796875,"y":140.8571662902832,"wires":[["60ab31af.889fa"]]},{"id":"14d0ab6f.9ad88d","type":"rpi-gpio out","z":"a12fcdf4.109578","name":"","pin":"11","set":true,"level":"1","freq":"","out":"out","x":1104.238353729248,"y":143.23812103271484,"wires":[]},{"id":"96155288.34c9b","type":"ui_switch","z":"a12fcdf4.109578","name":"","label":"luce","group":"9adecbad.a77fc","order":0,"width":"12","height":"1","passthru":true,"decouple":"false","topic":"interruttore1","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":888.14306640625,"y":139.28577327728271,"wires":[["14d0ab6f.9ad88d"]]},{"id":"4d9905ee.3a28e4","type":"change","z":"a12fcdf4.109578","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":676.8095932006836,"y":137.04767990112305,"wires":[["96155288.34c9b"]]},{"id":"1dc069c8.191726","type":"mosca in","z":"a12fcdf4.109578","mqtt_port":1883,"mqtt_ws_port":8080,"name":"IRRIGAZIONE","username":"irrigazione","password":"irrigazione","dburl":"","x":120.23812866210938,"y":286.6666793823242,"wires":[[]]},{"id":"627f77e9.3a5c18","type":"ui_switch","z":"a12fcdf4.109578","name":"","label":"Pompa","group":"9adecbad.a77fc","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":584.5239791870117,"y":385.71442699432373,"wires":[["57edaff4.f78e"]]},{"id":"57edaff4.f78e","type":"rpi-gpio out","z":"a12fcdf4.109578","name":"","pin":"13","set":"","level":"0","freq":"","out":"out","x":785.9524688720703,"y":384.76194286346436,"wires":[]},{"id":"9e1a3e40.e3b92","type":"mqtt in","z":"a12fcdf4.109578","name":"pompa","topic":"pompa","qos":"2","broker":"6639773c.6e6c08","x":124.52381678989954,"y":380.4762050083705,"wires":[["d8cd1b98.93e388","7da98ba.11e1374"]]},{"id":"d8cd1b98.93e388","type":"debug","z":"a12fcdf4.109578","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":393.0952682495117,"y":548.0953102111816,"wires":[]},{"id":"7da98ba.11e1374","type":"change","z":"a12fcdf4.109578","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":371.4286346435547,"y":388.5714445114136,"wires":[["627f77e9.3a5c18"]]},{"id":"3f310355.33202c","type":"function","z":"a12fcdf4.109578","name":"","func":"var interruttore1;\n\nif(flow.get('interruttore1') === null){\n    interruttore1 = 0;\n    flow.set('interruttore1',interruttore1);\n}\nelse{\n    if(flow.get('interruttore1') == 1){\n        msg.payload = 0;\n        interruttore1 = 0;\n        flow.set('interruttore1',interruttore1);\n    }\n    else{\n        msg.payload = 1;\n        interruttore1 = 1;\n        flow.set('interruttore1',interruttore1);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":443.80970001220703,"y":140.47623825073242,"wires":[["4d9905ee.3a28e4"]]},{"id":"60ab31af.889fa","type":"function","z":"a12fcdf4.109578","name":"","func":"if(msg.payload == 1)msg = null;\nreturn msg;","outputs":1,"noerr":0,"x":254.52379608154297,"y":142.38096570968628,"wires":[["3f310355.33202c"]]},{"id":"9adecbad.a77fc","type":"ui_group","z":"","name":"quadro pompa","tab":"2b8fdcc1.5b981c","order":2,"disp":true,"width":"12","collapse":false},{"id":"6639773c.6e6c08","type":"mqtt-broker","z":"","name":"Irrigazione","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2b8fdcc1.5b981c","type":"ui_tab","z":"","name":"test raspberry","icon":"dashboard","order":1}]