nodered/noderedmqtt1.1.txt
[{"id":"86490fce.dd709","type":"tab","label":"MQTT sample","disabled":false,"info":""},{"id":"d52b21c.be9a0e","type":"mosca in","z":"86490fce.dd709","mqtt_port":1883,"mqtt_ws_port":8080,"name":"MQTT","username":"","password":"","dburl":"","x":337.25,"y":93.5,"wires":[[]]},{"id":"36493f85.b5357","type":"debug","z":"86490fce.dd709","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":531.25,"y":91.5,"wires":[]},{"id":"6172dacc.9625b4","type":"inject","z":"86490fce.dd709","name":"","topic":"","payload":"attiva","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":271.25,"y":188.5,"wires":[["1e585704.e1ecd9"]]},{"id":"1e585704.e1ecd9","type":"mqtt out","z":"86490fce.dd709","name":"","topic":"MisuraConsumo","qos":"0","retain":"","broker":"c2b72443.fd6188","x":667.25,"y":191.5,"wires":[]},{"id":"96261226.e76fb","type":"mqtt in","z":"86490fce.dd709","name":"","topic":"Consumo","qos":"0","broker":"c2b72443.fd6188","x":226.25,"y":285.5,"wires":[["ec9185c9.782a68","dfccdc4e.d9d78","90617205.0009c"]]},{"id":"ec9185c9.782a68","type":"debug","z":"86490fce.dd709","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":716.25,"y":286.5,"wires":[]},{"id":"dfccdc4e.d9d78","type":"ui_gauge","z":"86490fce.dd709","name":"","group":"a229dd2d.b9ffe","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":698.25,"y":334.5,"wires":[]},{"id":"5d730d4c.956da4","type":"ui_switch","z":"86490fce.dd709","name":"","label":"switch1","group":"a229dd2d.b9ffe","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":811.0000076293945,"y":597.0000076293945,"wires":[["55f710e3.7013d"]]},{"id":"c9ae1e25.b4503","type":"mqtt out","z":"86490fce.dd709","name":"","topic":"AttivaRele","qos":"","retain":"","broker":"c2b72443.fd6188","x":1520.500015258789,"y":560.2500066757202,"wires":[]},{"id":"9dc8e8ce.afe5a8","type":"debug","z":"86490fce.dd709","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":755,"y":707,"wires":[]},{"id":"f883ac9b.0b0dd","type":"mqtt out","z":"86490fce.dd709","name":"","topic":"DisattivaRele","qos":"","retain":"","broker":"c2b72443.fd6188","x":1519.500015258789,"y":618.2500066757202,"wires":[]},{"id":"55f710e3.7013d","type":"switch","z":"86490fce.dd709","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1007.5000152587891,"y":595.2500066757202,"wires":[["dec9f220.6118d"],["3e2dfad4.14e996"]]},{"id":"3e2dfad4.14e996","type":"function","z":"86490fce.dd709","name":"","func":"msg.payload = \"1\";\nreturn msg;","outputs":1,"noerr":0,"x":1275.500015258789,"y":614.2500066757202,"wires":[["f883ac9b.0b0dd"]]},{"id":"dec9f220.6118d","type":"function","z":"86490fce.dd709","name":"","func":"msg.payload = \"1\";\nreturn msg;","outputs":1,"noerr":0,"x":1269.500015258789,"y":562.2500066757202,"wires":[["c9ae1e25.b4503"]]},{"id":"3e6320b8.d0c29","type":"mqtt in","z":"86490fce.dd709","name":"","topic":"checkrele1","qos":"0","broker":"c2b72443.fd6188","x":524.75,"y":595,"wires":[["5d730d4c.956da4","9dc8e8ce.afe5a8"]]},{"id":"9b4e5d9c.2d564","type":"ui_switch","z":"86490fce.dd709","name":"","label":"switch2","group":"a229dd2d.b9ffe","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":826,"y":834,"wires":[["263319f9.7d6226"]]},{"id":"df9f8eb9.ebff6","type":"mqtt out","z":"86490fce.dd709","name":"","topic":"AttivaRele","qos":"","retain":"","broker":"c2b72443.fd6188","x":1535.5000076293945,"y":797.2499990463257,"wires":[]},{"id":"6f3cb8a5.351998","type":"debug","z":"86490fce.dd709","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":769.9999923706055,"y":943.9999923706055,"wires":[]},{"id":"9124dc31.e7d8e","type":"mqtt out","z":"86490fce.dd709","name":"","topic":"DisattivaRele","qos":"","retain":"","broker":"c2b72443.fd6188","x":1534.5000076293945,"y":855.2499990463257,"wires":[]},{"id":"263319f9.7d6226","type":"switch","z":"86490fce.dd709","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1022.5000076293945,"y":832.2499990463257,"wires":[["1c9ef4b2.0ba73b"],["edd654b0.0791d8"]]},{"id":"edd654b0.0791d8","type":"function","z":"86490fce.dd709","name":"","func":"msg.payload = \"2\";\nreturn msg;","outputs":1,"noerr":0,"x":1290.5000076293945,"y":851.2499990463257,"wires":[["9124dc31.e7d8e"]]},{"id":"1c9ef4b2.0ba73b","type":"function","z":"86490fce.dd709","name":"","func":"msg.payload = \"2\";\nreturn msg;","outputs":1,"noerr":0,"x":1284.5000076293945,"y":799.2499990463257,"wires":[["df9f8eb9.ebff6"]]},{"id":"10a45fc1.654cb","type":"mqtt in","z":"86490fce.dd709","name":"","topic":"checkrele2","qos":"0","broker":"c2b72443.fd6188","x":539.7499923706055,"y":831.9999923706055,"wires":[["9b4e5d9c.2d564","6f3cb8a5.351998"]]},{"id":"9f60e5f1.b8e078","type":"ui_switch","z":"86490fce.dd709","name":"","label":"switch3","group":"a229dd2d.b9ffe","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":830.9999923706055,"y":1070.0000009536743,"wires":[["4972b162.2ed86"]]},{"id":"a35bac70.be2bb","type":"mqtt out","z":"86490fce.dd709","name":"","topic":"AttivaRele","qos":"","retain":"","broker":"c2b72443.fd6188","x":1540.5,"y":1033.25,"wires":[]},{"id":"2a1f40a.9bf78c","type":"debug","z":"86490fce.dd709","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":774.9999847412109,"y":1179.9999933242798,"wires":[]},{"id":"1558429a.997afd","type":"mqtt out","z":"86490fce.dd709","name":"","topic":"DisattivaRele","qos":"","retain":"","broker":"c2b72443.fd6188","x":1539.5,"y":1091.25,"wires":[]},{"id":"4972b162.2ed86","type":"switch","z":"86490fce.dd709","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1027.5,"y":1068.25,"wires":[["9325ba5e.494e98"],["d841b70.750c148"]]},{"id":"d841b70.750c148","type":"function","z":"86490fce.dd709","name":"","func":"msg.payload = \"3\";\nreturn msg;","outputs":1,"noerr":0,"x":1295.5,"y":1087.25,"wires":[["1558429a.997afd"]]},{"id":"9325ba5e.494e98","type":"function","z":"86490fce.dd709","name":"","func":"msg.payload = \"3\";\nreturn msg;","outputs":1,"noerr":0,"x":1289.5,"y":1035.25,"wires":[["a35bac70.be2bb"]]},{"id":"ccc8df6f.bac5","type":"mqtt in","z":"86490fce.dd709","name":"","topic":"checkrele3","qos":"0","broker":"c2b72443.fd6188","x":544.7499847412109,"y":1067.9999933242798,"wires":[["9f60e5f1.b8e078","2a1f40a.9bf78c"]]},{"id":"99077a0.ecd4b88","type":"ui_switch","z":"86490fce.dd709","name":"","label":"switch4","group":"a229dd2d.b9ffe","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":835.9999923706055,"y":1308.0000009536743,"wires":[["3d48cfc6.64186"]]},{"id":"7fc6bd7c.4d0dc4","type":"mqtt out","z":"86490fce.dd709","name":"","topic":"AttivaRele","qos":"","retain":"","broker":"c2b72443.fd6188","x":1545.5,"y":1271.25,"wires":[]},{"id":"fc1f5cf0.a8878","type":"debug","z":"86490fce.dd709","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":779.9999847412109,"y":1417.9999933242798,"wires":[]},{"id":"d3296f31.1d58","type":"mqtt out","z":"86490fce.dd709","name":"","topic":"DisattivaRele","qos":"","retain":"","broker":"c2b72443.fd6188","x":1544.5,"y":1329.25,"wires":[]},{"id":"3d48cfc6.64186","type":"switch","z":"86490fce.dd709","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1032.5,"y":1306.25,"wires":[["18c0d15e.8dcd3f"],["28117fb.d96ac8"]]},{"id":"28117fb.d96ac8","type":"function","z":"86490fce.dd709","name":"","func":"msg.payload = \"4\";\nreturn msg;","outputs":1,"noerr":0,"x":1300.5,"y":1325.25,"wires":[["d3296f31.1d58"]]},{"id":"18c0d15e.8dcd3f","type":"function","z":"86490fce.dd709","name":"","func":"msg.payload = \"4\";\nreturn msg;","outputs":1,"noerr":0,"x":1299.5,"y":1271.25,"wires":[["7fc6bd7c.4d0dc4"]]},{"id":"3f4abe4f.b04432","type":"mqtt in","z":"86490fce.dd709","name":"","topic":"checkrele4","qos":"0","broker":"c2b72443.fd6188","x":549.7499847412109,"y":1305.9999933242798,"wires":[["99077a0.ecd4b88","fc1f5cf0.a8878"]]},{"id":"a99cb261.367d1","type":"ui_switch","z":"86490fce.dd709","name":"","label":"switchall","group":"a229dd2d.b9ffe","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":114.25,"y":970,"wires":[["55f710e3.7013d","263319f9.7d6226","4972b162.2ed86","3d48cfc6.64186"]]},{"id":"eb09e7c.7062718","type":"mysql","z":"86490fce.dd709","mydb":"1a4f5cfe.ef8a93","name":"consumo","x":818,"y":398,"wires":[[]]},{"id":"90617205.0009c","type":"function","z":"86490fce.dd709","name":"inserisci valore","func":"var d = new Date();\nvar a = d.getTime();\nvar b = msg.payload;\nmsg.topic = \" INSERT INTO consumo (date,value) VALUES (\"+a+\",\"+b+\")\";\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":544,"y":412,"wires":[["8e8ff552.682738","eb09e7c.7062718"]]},{"id":"8e8ff552.682738","type":"debug","z":"86490fce.dd709","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":810.9999923706055,"y":463.99999618530273,"wires":[]},{"id":"8349963d.e50998","type":"mysql","z":"86490fce.dd709","mydb":"1a4f5cfe.ef8a93","name":"consumo","x":1305,"y":91,"wires":[["edcfdae6.891328"]]},{"id":"79507a4a.b89374","type":"inject","z":"86490fce.dd709","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":846,"y":90,"wires":[["43b6741e.8f55ec"]]},{"id":"43b6741e.8f55ec","type":"function","z":"86490fce.dd709","name":"prendi tutti i valori","func":"msg.topic= \"SELECT * FROM consumo WHERE 1\";\nreturn msg;","outputs":1,"noerr":0,"x":1095,"y":90,"wires":[["8349963d.e50998"]]},{"id":"2e7533bc.599dac","type":"debug","z":"86490fce.dd709","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2110,"y":94,"wires":[]},{"id":"edcfdae6.891328","type":"function","z":"86490fce.dd709","name":"fai la media","func":"var size = msg.payload.length;\nvar media = 0;\nfor(var i =0; i<size; i++)\n    media += msg.payload[i].value;\nmedia = media/size;\nmsg.payload = media;\nreturn msg;","outputs":1,"noerr":0,"x":1495,"y":94,"wires":[["8472bc8b.9bc63"]]},{"id":"8472bc8b.9bc63","type":"function","z":"86490fce.dd709","name":"inserisci la media","func":"var d = new Date();\nvar a = d.getTime();\nvar b = msg.payload;\nmsg.topic = \" INSERT INTO consumomedio (date,value) VALUES (\"+a+\",\"+b+\")\";\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":1723,"y":93,"wires":[["46d44493.128ebc"]]},{"id":"46d44493.128ebc","type":"mysql","z":"86490fce.dd709","mydb":"1a4f5cfe.ef8a93","name":"consumo","x":1934,"y":94,"wires":[["2e7533bc.599dac"]]},{"id":"c2b72443.fd6188","type":"mqtt-broker","z":"","name":"MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a229dd2d.b9ffe","type":"ui_group","z":"","name":"home","tab":"4df12bd8.286344","disp":true,"width":"15","collapse":true},{"id":"1a4f5cfe.ef8a93","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"nodered","tz":""},{"id":"4df12bd8.286344","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]