IpBuild lite/node.txt
[{"id":"bb204347.c1589","type":"tab","label":"MQTT sample","disabled":false,"info":""},{"id":"d2219b56.5ba728","type":"mosca in","z":"bb204347.c1589","mqtt_port":1883,"mqtt_ws_port":8080,"name":"MQTT","username":"","password":"","dburl":"","x":337.25,"y":93.5,"wires":[[]]},{"id":"c1d0988b.99d5b8","type":"debug","z":"bb204347.c1589","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":531.25,"y":91.5,"wires":[]},{"id":"4eaa2878.894d98","type":"ui_switch","z":"bb204347.c1589","name":"","label":"switch1","group":"164dddf.007d922","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":811.0000076293945,"y":597.0000076293945,"wires":[["264706e0.d2995a"]]},{"id":"a15e5784.7d59a8","type":"mqtt out","z":"bb204347.c1589","name":"","topic":"AttivaRele","qos":"","retain":"","broker":"50643a20.532614","x":1520.500015258789,"y":560.2500066757202,"wires":[]},{"id":"e9847ece.a2e81","type":"debug","z":"bb204347.c1589","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":755,"y":707,"wires":[]},{"id":"9da60a69.15c218","type":"mqtt out","z":"bb204347.c1589","name":"","topic":"DisattivaRele","qos":"","retain":"","broker":"50643a20.532614","x":1519.500015258789,"y":618.2500066757202,"wires":[]},{"id":"264706e0.d2995a","type":"switch","z":"bb204347.c1589","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1007.5000152587891,"y":595.2500066757202,"wires":[["9bd75cfe.09618"],["3b946915.e5e926"]]},{"id":"3b946915.e5e926","type":"function","z":"bb204347.c1589","name":"","func":"msg.payload = \"1\";\nreturn msg;","outputs":1,"noerr":0,"x":1275.500015258789,"y":614.2500066757202,"wires":[["9da60a69.15c218"]]},{"id":"9bd75cfe.09618","type":"function","z":"bb204347.c1589","name":"","func":"msg.payload = \"1\";\nreturn msg;","outputs":1,"noerr":0,"x":1269.500015258789,"y":562.2500066757202,"wires":[["a15e5784.7d59a8"]]},{"id":"6e330751.a93338","type":"mqtt in","z":"bb204347.c1589","name":"","topic":"checkrele1","qos":"0","broker":"50643a20.532614","x":524.75,"y":595,"wires":[["4eaa2878.894d98","e9847ece.a2e81"]]},{"id":"164dddf.007d922","type":"ui_group","z":"","name":"home","tab":"4f6eb105.15b8a","disp":true,"width":"15","collapse":true},{"id":"50643a20.532614","type":"mqtt-broker","z":"","name":"MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4f6eb105.15b8a","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]