IpBuild lite/node.txt
[{"id":"e851af0.97dcc5","type":"ui_switch","z":"2613865f.61971a","name":"","label":"switch1","group":"a229dd2d.b9ffe","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":564,"y":316,"wires":[["eab0f4b2.c2a868"]]},{"id":"b043db7a.036928","type":"mqtt out","z":"2613865f.61971a","name":"","topic":"AttivaRele","qos":"","retain":"","broker":"c2b72443.fd6188","x":1313.5,"y":280.25,"wires":[]},{"id":"1844b6da.440ba9","type":"debug","z":"2613865f.61971a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":581,"y":455,"wires":[]},{"id":"c84c56cd.ce4488","type":"mqtt out","z":"2613865f.61971a","name":"","topic":"DisattivaRele","qos":"","retain":"","broker":"c2b72443.fd6188","x":1318.5000076293945,"y":342.2499990463257,"wires":[]},{"id":"eab0f4b2.c2a868","type":"switch","z":"2613865f.61971a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":816.5,"y":378.25,"wires":[["76bf1a4b.f9b354"],["7aac5ee5.c76e6"]]},{"id":"7aac5ee5.c76e6","type":"function","z":"2613865f.61971a","name":"","func":"msg.payload = \"1\";\nreturn msg;","outputs":1,"noerr":0,"x":1074.5000076293945,"y":338.2499990463257,"wires":[["c84c56cd.ce4488"]]},{"id":"76bf1a4b.f9b354","type":"function","z":"2613865f.61971a","name":"","func":"msg.payload = \"1\";\nreturn msg;","outputs":1,"noerr":0,"x":1081.5,"y":285.25,"wires":[["b043db7a.036928"]]},{"id":"90c3bca5.a69bc","type":"mqtt in","z":"2613865f.61971a","name":"","topic":"checkrele1","qos":"0","broker":"c2b72443.fd6188","x":250.75,"y":310,"wires":[["e851af0.97dcc5","1844b6da.440ba9"]]},{"id":"5284894c.eb3c38","type":"mosca in","z":"2613865f.61971a","mqtt_port":1883,"mqtt_ws_port":8080,"name":"MQTT","username":"","password":"","dburl":"","x":267,"y":183,"wires":[[]]},{"id":"e6d20a26.0a2a38","type":"debug","z":"2613865f.61971a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":461,"y":181,"wires":[]},{"id":"df180ca1.9436d","type":"mqtt in","z":"2613865f.61971a","name":"","topic":"setrele1","qos":"0","broker":"c2b72443.fd6188","x":240,"y":372,"wires":[["eab0f4b2.c2a868"]]},{"id":"a229dd2d.b9ffe","type":"ui_group","z":"","name":"home","tab":"4df12bd8.286344","disp":true,"width":"15","collapse":true},{"id":"c2b72443.fd6188","type":"mqtt-broker","z":"","name":"MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4df12bd8.286344","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]