IpBuild lite/node.txt
[{"id":"afae9082.8e4d58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7c3b72f1.b6f00c","type":"ui_switch","z":"afae9082.8e4d58","name":"","label":"Pompa","group":"541ad7cb.82f648","order":1,"width":"6","height":"2","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"fa-refresh fa-spin fa-2x","oncolor":"lime","offvalue":"off","offvalueType":"str","officon":"fa-power-off fa-2x","offcolor":"red","x":475.50001525878906,"y":267.25002002716064,"wires":[["c40e2636.3f7918"]]},{"id":"6b407aaa.8cabc4","type":"mqtt out","z":"afae9082.8e4d58","name":"","topic":"AttivaRele","qos":"","retain":"","broker":"d090b3ba.72477","x":1217,"y":235.5,"wires":[]},{"id":"3aa90c8e.8ba2a4","type":"debug","z":"afae9082.8e4d58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":484.5,"y":410.25,"wires":[]},{"id":"dbdcb1c3.883c6","type":"mqtt out","z":"afae9082.8e4d58","name":"","topic":"DisattivaRele","qos":"","retain":"","broker":"d090b3ba.72477","x":1222.0000076293945,"y":297.4999990463257,"wires":[]},{"id":"c40e2636.3f7918","type":"switch","z":"afae9082.8e4d58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":333.5,"wires":[["ca5bced6.53883"],["f1c6feef.51bb2"]]},{"id":"f1c6feef.51bb2","type":"function","z":"afae9082.8e4d58","name":"","func":"msg.payload = \"1\";\nreturn msg;","outputs":1,"noerr":0,"x":978.0000076293945,"y":293.4999990463257,"wires":[["dbdcb1c3.883c6"]]},{"id":"ca5bced6.53883","type":"function","z":"afae9082.8e4d58","name":"","func":"msg.payload = \"1\";\nreturn msg;","outputs":1,"noerr":0,"x":985,"y":240.5,"wires":[["6b407aaa.8cabc4"]]},{"id":"b811e8c0.866448","type":"mqtt in","z":"afae9082.8e4d58","name":"","topic":"checkrele1","qos":"0","broker":"d090b3ba.72477","x":154.25,"y":265.25,"wires":[["7c3b72f1.b6f00c","3aa90c8e.8ba2a4","1dde4800.127fe8"]]},{"id":"b590f64f.78d508","type":"mosca in","z":"afae9082.8e4d58","mqtt_port":1883,"mqtt_ws_port":8080,"name":"MQTT","username":"","password":"","dburl":"","x":170.5,"y":138.25,"wires":[[]]},{"id":"95c66fad.b5774","type":"debug","z":"afae9082.8e4d58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":364.5,"y":136.25,"wires":[]},{"id":"1cd63281.24bc0d","type":"mqtt in","z":"afae9082.8e4d58","name":"","topic":"setrele1","qos":"0","broker":"d090b3ba.72477","x":143.5,"y":353.25000953674316,"wires":[["c40e2636.3f7918"]]},{"id":"38b621c7.fa60be","type":"mqtt in","z":"afae9082.8e4d58","name":"","topic":"setrele2","qos":"0","broker":"564a01d0.1c775","x":148,"y":564,"wires":[["6991c950.6f1a68"]]},{"id":"8b9d6541.cd1fd","type":"ui_switch","z":"afae9082.8e4d58","name":"","label":"Luce","group":"541ad7cb.82f648","order":3,"width":"6","height":"2","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"fa-bolt fa-2x","oncolor":"lime","offvalue":"off","offvalueType":"str","officon":"fa-bolt fa-2x","offcolor":"red","x":464,"y":500,"wires":[["6991c950.6f1a68"]]},{"id":"b2b372b.6bf559","type":"mqtt out","z":"afae9082.8e4d58","name":"","topic":"AttivaRele","qos":"","retain":"","broker":"d090b3ba.72477","x":1216,"y":406,"wires":[]},{"id":"1f25e258.83ba56","type":"mqtt out","z":"afae9082.8e4d58","name":"","topic":"DisattivaRele","qos":"","retain":"","broker":"d090b3ba.72477","x":1221.0000076293945,"y":467.9999990463257,"wires":[]},{"id":"6991c950.6f1a68","type":"switch","z":"afae9082.8e4d58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":713,"y":548,"wires":[["1d89dea9.a76de9"],["9d8ad122.8b5898"]]},{"id":"9d8ad122.8b5898","type":"function","z":"afae9082.8e4d58","name":"","func":"msg.payload = \"2\";\nreturn msg;","outputs":1,"noerr":0,"x":977.0000076293945,"y":463.9999990463257,"wires":[["1f25e258.83ba56"]]},{"id":"1d89dea9.a76de9","type":"function","z":"afae9082.8e4d58","name":"","func":"msg.payload = \"2\";\nreturn msg;","outputs":1,"noerr":0,"x":984,"y":411,"wires":[["b2b372b.6bf559"]]},{"id":"9f70f1a8.e2587","type":"mqtt in","z":"afae9082.8e4d58","name":"","topic":"checkrele2","qos":"0","broker":"d090b3ba.72477","x":154,"y":500,"wires":[["8b9d6541.cd1fd","3aa90c8e.8ba2a4","9b2b81dd.7b2c58"]]},{"id":"fa85c48b.af4518","type":"ui_text","z":"afae9082.8e4d58","group":"26fc6eac.d69fc2","order":2,"width":0,"height":0,"name":"","label":"Segnale nodo pompa","format":"{{msg.payload}}","layout":"row-spread","x":648.3333740234374,"y":780.000045776367,"wires":[]},{"id":"169a1b10.1c3545","type":"mqtt in","z":"afae9082.8e4d58","name":"","topic":"wifiStrengthPompa","qos":"2","broker":"564a01d0.1c775","x":276.3333435058593,"y":770.6666717529295,"wires":[["fa85c48b.af4518"]]},{"id":"51b0e4ee.39d4fc","type":"mqtt out","z":"afae9082.8e4d58","name":"","topic":"RSSI","qos":"","retain":"","broker":"564a01d0.1c775","x":660.3333930969238,"y":695.333393573761,"wires":[]},{"id":"1b720e61.2d3c52","type":"ui_button","z":"afae9082.8e4d58","name":"","group":"26fc6eac.d69fc2","order":3,"width":0,"height":0,"passthru":false,"label":"RSSI","color":"","bgcolor":"","icon":"","payload":"ciao","payloadType":"str","topic":"","x":392.3333740234374,"y":689.9999999999999,"wires":[["51b0e4ee.39d4fc"]]},{"id":"79f3d97f.92a278","type":"ui_text","z":"afae9082.8e4d58","group":"26fc6eac.d69fc2","order":1,"width":0,"height":0,"name":"","label":"Segnale nodo centralina","format":"{{msg.payload}}","layout":"row-spread","x":671.0000305175781,"y":912,"wires":[]},{"id":"98bb5a69.46a778","type":"mqtt in","z":"afae9082.8e4d58","name":"","topic":"wifiStrengthCentralina","qos":"2","broker":"564a01d0.1c775","x":299,"y":902.6666259765625,"wires":[["79f3d97f.92a278"]]},{"id":"1dde4800.127fe8","type":"ui_text","z":"afae9082.8e4d58","group":"541ad7cb.82f648","order":2,"width":"4","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":720,"y":243,"wires":[]},{"id":"9b2b81dd.7b2c58","type":"ui_text","z":"afae9082.8e4d58","group":"541ad7cb.82f648","order":0,"width":"4","height":"2","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":711,"y":467,"wires":[]},{"id":"541ad7cb.82f648","type":"ui_group","z":"","name":"Irrigazione","tab":"8907c438.17c8c8","disp":true,"width":"10","collapse":true},{"id":"d090b3ba.72477","type":"mqtt-broker","z":"","name":"MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"564a01d0.1c775","type":"mqtt-broker","z":"","name":"MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"26fc6eac.d69fc2","type":"ui_group","z":"","name":"Status","tab":"8907c438.17c8c8","order":2,"disp":true,"width":"10","collapse":true},{"id":"8907c438.17c8c8","type":"ui_tab","z":"","name":"PGS Don Bosco","icon":"dashboard"}]